<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WishList.Data.Properties.Settings.WishListConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=WishList;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>