<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<appSettings xdt:Transform="Replace">
		<add key="ApplicationUrl" value="http://wish.driessen.se" />
		<add key="AdministratorEmail" value="johan@driessen.se" />
	</appSettings>

	<!--<connectionStrings xdt:Transform="Replace">
		<add name="WishList.Data.Properties.Settings.WishListConnectionString" connectionString="Data Source=212.112.188.228;Initial Catalog=WishList;User Id=johan_webuser;Password=johan_webuser;" providerName="System.Data.SqlClient" />
	</connectionStrings>-->

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>

	<location path="elmah.axd" xdt:Transform="Insert">
		<system.web>
			<authorization>
				<allow users="johan" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<elmah xdt:Transform="Replace">
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="WishList.Data.Properties.Settings.WishListConnectionString" />
		<security allowRemoteAccess="1" />
	</elmah>
</configuration>