@use "sass:map";
@use "@picocss/pico/scss/pico" with (
    $theme-color: "lime"
);
@use "@picocss/pico/scss/colors/index" as *;
@import "@picocss/pico/scss/_settings.scss";

html[data-theme=light] img.logo {
    filter: invert(1) hue-rotate(78deg) saturate(4);
}

#approot {
    margin: 0 auto;
    max-width: map.get(map.get($breakpoints, "xl"), "viewport");

    > main {
        display: grid;

        grid-template-areas:
            "head"
            "nav"
            "main"
            "foot";
        grid-template-rows: auto;

        @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            grid-template-areas:
                "head head"
                "nav  main"
                "foot foot";
            grid-template-columns: 1fr 2fr;
            column-gap: 1rem;
        }

        > header {
            grid-area: head;

            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $green-800;

            > nav {
                @media screen and (max-width: map.get(map.get($breakpoints, "md"), "breakpoint")) {
                    display: grid;
                    grid-template-areas:
                        "logo"
                        "menu";
                    justify-content: normal;

                    > a {
                        grid-area: logo;
                    }

                    > ul {
                        grid-area: menu;
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }

        > aside {
            grid-area: nav;
        }

        > section {
            grid-area: main;
        }

        > footer {
            grid-area: foot;

            padding-top: 1rem;
            margin-top: 1rem;
            border-top: 1px solid $green-800;
        }
    }

    fieldset {
        input {
            &:user-invalid {
                border-color: $red-450;
            }
        }
    }
}

ul.plain {
    padding-left: 0;
    > li {
        list-style: none;
    }
}

.alert {
    margin-top: 1rem;

    &.danger {
        background-color: $red-450;
        color: white;
    }
    &.warning {
        background-color: $amber-250;
        color: white;
    }
    &.info {
        background-color: $cyan-400;
        color: white;
    }
    &.success {
        background-color: $green-350;
        color: white;
    }
}

button.link {
    padding: 0;
    border: none;
    background: none;
    color: var(--pico-primary);
}

button.icon {
    padding: 0;
    border: none;
    background: none;
    color: var(--pico-primary);

    &:focus, &:focus-visible {
        box-shadow: none;
    }
}

small > button {
    font-size: .875em;
    padding: calc(var(--pico-form-element-spacing-vertical) / 2) calc(var(--pico-form-element-spacing-horizontal) / 2);
}