@use "sass:map";
@use "../node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "lime"
);
// @use "colors" as *;
@use "../node_modules/@picocss/pico/scss/colors/index" as *;
@import "../node_modules/@picocss/pico/scss/_settings.scss";


#approot {
    margin: 0 auto;
    max-width: map.get(map.get($breakpoints, "lg"), "viewport");

    > main {
        display: grid;

        grid-template-areas:
            "head"
            "nav"
            "main"
            "foot";
        grid-template-rows: auto;

        @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            grid-template-areas:
                "head head"
                "nav  main"
                "foot foot";
            grid-template-columns: 1fr 2fr;
        }

        > header {
            grid-area: head;

            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $green-800;
        }

        > aside {
            grid-area: nav;
        }

        > section {
            grid-area: main;
        }

        > footer {
            grid-area: foot;

            padding-top: 1rem;
            margin-top: 1rem;
            border-top: 1px solid $green-800;
        }
    }

    fieldset {
        input {
            &:user-invalid {
                border-color: $red-450;
            }
        }
    }
}

ul.plain {
    padding-left: 0;
    > li {
        list-style: none;
    }
}

.alert {
    &.danger {
        background-color: $red-450;
        color: white;
    }
    &.warning {
        background-color: $amber-250;
        color: white;
    }
    &.info {
        background-color: $cyan-400;
        color: white;
    }
    &.success {
        background-color: $green-350;
        color: white;
    }
}