@use "sass:map";
@use "../node_modules/@picocss/pico/scss/pico" with (
    $theme-color: "lime"
);
@import "../node_modules/@picocss/pico/scss/_settings.scss";

#approot {
    margin: 0 auto;
    max-width: map.get(map.get($breakpoints, "lg"), "viewport");

    > main {
        display: grid;

        grid-template-areas:
            "head"
            "nav"
            "main"
            "foot";
        grid-template-rows: auto;

        @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            grid-template-areas:
                "head head"
                "nav  main"
                "foot foot";
            grid-template-columns: 1fr 2fr;
        }

        > header {
            grid-area: head;
        }

        > aside {
            grid-area: nav;
        }

        > section {
            grid-area: main;
        }

        > footer {
            grid-area: foot;
        }
    }

    fieldset {
        input {
            &:user-invalid {
                border-color: red;
            }
        }
    }
}