@use "sass:map";
@use "@picocss/pico/scss/pico" with (
    $theme-color: "lime"
);
@use "@picocss/pico/scss/colors/index" as *;
@use "@picocss/pico/scss/colors/utilities";
@import "@picocss/pico/scss/_settings.scss";

:root {
    --pico-font-size: 100%;

    @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        --pico-font-size: 110%;
    }
}


html[data-theme=light] img.logo {
    filter: invert(1) hue-rotate(78deg) saturate(4);
    $enable-transitions: true;
}

#approot {
    margin: 0 auto;
    max-width: map.get(map.get($breakpoints, "xl"), "viewport");

    > main {
        display: grid;

        grid-template-areas:
            "head"
            "links"
            "nav"
            "main"
            "foot";
        grid-template-rows: auto;

        @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
            grid-template-areas:
                "head head"
                "nav  main"
                "foot foot";
            grid-template-columns: 1fr 2fr;
            column-gap: var(--pico-spacing);

            .mobile-links {
                display: none;
            }
        }

        > header {
            grid-area: head;

            padding-bottom: var(--pico-spacing);
            margin-bottom: var(--pico-spacing);
            border-bottom: 1px solid $green-800;

            > nav {
                @media screen and (max-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
                    display: grid;
                    grid-template-areas:
                        "logo"
                        "menu";
                    justify-content: normal;

                    > a {
                        grid-area: logo;
                    }

                    > ul {
                        grid-area: menu;
                        display: flex;
                        justify-content: end;
                    }
                }
            }
        }

        > aside {
            grid-area: nav;
        }

        > section {
            grid-area: main;
        }

        > footer {
            grid-area: foot;

            padding-top: var(--pico-spacing);
            margin-top: var(--pico-spacing);
            border-top: 1px solid $green-800;
        }

        .mobile-links {
            grid-area: links;
        }
    }

    fieldset {
        input {
            &:user-invalid {
                border-color: $red-450;
            }
        }
    }
}

ul.plain {
    padding-left: 0;
    > li {
        list-style: none;
    }
}

.alert {
    margin-top: var(--pico-spacing);

    h1 {
        font-size: 110%;
    }

    &.danger {
        background-color: $red-450;
        color: white;
    }
    &.warning {
        background-color: $amber-250;
        color: white;
    }
    &.info {
        --pico-card-background-color: var(--pico-color-cyan-400);
        color: $white;
        a {
            --pico-color: var(--pico-color-fuchsia-100);
            --pico-underline: var(--pico-color-fuchsia-100);
        }
    }
    &.success {
        --pico-card-background-color: var(--pico-color-green-350);
        color: $white;
        a {
            --pico-color: var(--pico-color-cyan-50);
            --pico-underline: var(--pico-color-cyan-50);
        }
    }
}

//Ikon i kort-header
article {
    > header:has(> svg:first-child) {
        display: grid;
        grid-template-columns: 1.75rem 1fr;
        align-items: center;
    }
}

.friendlist {
    details.dropdown {
        display: block;
        margin: var(--pico-spacing) 0;

        > ul > li > a {
            color: var(--pico-primary);
        }
    }

    > ul {
        display: none;
    }

    @media screen and (min-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
        details.dropdown {
            display: none;
        }

        > ul {
            display: block;
        }
    }
}
@media screen and (max-width: map.get(map.get($breakpoints, "lg"), "breakpoint")) {
    .wishlist > h1 {
        display: none;
    }
}

// minska lite på den vertikala paddingen i buttons och input-fält (75% av tidigare)
button, input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]), select, textarea, [role=button]
{
    padding: calc(var(--pico-form-element-spacing-vertical) * .75) var(--pico-form-element-spacing-horizontal);
}

button.link {
    padding: 0;
    border: none;
    background: none;
    color: var(--pico-primary);
}

//Knappar som bara är ikoner
button.icon {
    padding: 0;
    border: none;
    background: none;
    color: var(--pico-primary);

    &:focus, &:focus-visible {
        box-shadow: none;
    }

    &[aria-busy] {
        position: relative;

        &::before {
            position: absolute;
            top: 3px;
            left: 4px;
            color: var(--pico-primary);
            filter: none !important;
        }

        > svg {
            visibility: hidden;
        }
    }
}

//Ikoner i knappar
button svg, [role=button] svg {
    height: 24px;
    margin-top: -6px;
}

small > button, small > *[role=button] {
    font-size: 1em;
    padding: calc(var(--pico-form-element-spacing-vertical) / 3) calc(var(--pico-form-element-spacing-horizontal) * .67);

    svg {
        height: 16px;
        margin-top: -4px;
    }
}

svg {
    &.primary {
        color: var(--pico-primary);
    }
    &.secondary {
        color: var(--pico-secondary);
    }
}

// margin utilities
.ml-1 { margin-left: calc(var(--pico-spacing) / 2) !important; }
.mt-1 { margin-top: calc(var(--pico-spacing) / 2) !important; }
.mr-1 { margin-right: calc(var(--pico-spacing) / 2) !important; }
.mb-1 { margin-bottom: calc(var(--pico-spacing) / 2) !important; }
.m-1 { margin: calc(var(--pico-spacing) / 2) !important; };
.ml-2 { margin-left: var(--pico-spacing) !important; }
.mt-2 { margin-top: var(--pico-spacing) !important; }
.mr-2 { margin-right: var(--pico-spacing) !important; }
.mb-2 { margin-bottom: var(--pico-spacing) !important; }
.m-2 { margin: var(--pico-spacing) !important; };
