@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Glömt lösenord</h1>

<p>Ange ditt användarnamn och din e-postadress så skickar vi dig ett alldeles sprillans nytt lösenord!</p>

<form method="post" action="@Url.Action("ForgotPassword", "Account")">
    <p>
        <label for="username">Namn</label>
        <input type="text" id="username" name="username" maxlength="50" required />
    </p>

    <p>
        <label for="email">E-post</label>
        <input type="email" id="email" name="email" maxlength="255" required />
    </p>

    <button type="submit">Ge mig ett nytt lösenord!</button>
</form>
<br />
@if (ViewBag.ErrorMessage != null)
{
    <text>@Html.Raw(Notify.Error(ViewBag.ErrorMessage))</text>
}
@if (ViewBag.SuccessMessage != null)
{
    <text>@Html.Raw(Notify.Info(ViewBag.SuccessMessage))</text>
}
