<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="WishList.Data.Properties.Settings.WishListConnectionString" connectionString="Data Source=db002.appharbor.net;Initial Catalog=db1463;User Id=db1463;Password=js3dCucuhHpteCnuG8XsmSF4uzqxCRezDp54nrkMrLjrXBMZR53WjdfyU8RddMZx" providerName="System.Data.SqlClient" />
		<add name="LocalTestDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=WishList;Integrated Security=true"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="/users/login" />
		</authentication>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider"
                     connectionStringName="WishList.Data.Properties.Settings.WishListConnectionString"
                     applicationName="WishList2"
                     type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<membership
            defaultProvider="AspNetSqlMembershipProvider"
            userIsOnlineTimeWindow="15"
            hashAlgorithmType="">
			<providers>
				<clear/>
				<add connectionStringName="WishList.Data.Properties.Settings.WishListConnectionString"
                     enablePasswordRetrieval="false"
                     enablePasswordReset="true"
                     requiresQuestionAndAnswer="false"
                     applicationName="WishList2"
                     requiresUniqueEmail="true"
                     passwordFormat="Hashed"
                     maxInvalidPasswordAttempts="5"
                     passwordAttemptWindow="10"
                     passwordStrengthRegularExpression=""
                     minRequiredPasswordLength="4"
                     minRequiredNonalphanumericCharacters="0"
                     name="AspNetSqlMembershipProvider"
                     type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<anonymousIdentification enabled="true"/>
		<profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider"
                     type="System.Web.Profile.SqlProfileProvider"
                     connectionStringName="WishList.Data.Properties.Settings.WishListConnectionString"
                     applicationName="WishList2"/>
			</providers>

		</profile>

		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=0.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
</configuration>