@media screen and (max-width:1000px) 
{
	.page 
	{
		max-width: 85%;
		min-width: 300px;
		width: 85%;
	}
	
	#header
	{
		height: auto;
	}
	
	div#userpanel 
	{
		clear: left;
		float: left;
		margin-bottom: 10px;
		position: inherit;
		top: auto;
		right: auto;
	}
	
	ul#menu 
	{
		float: left;
		clear: both;
		position: inherit;
		text-align: left;
		top: 0;
	}
	
	#userlist 
	{
		float: none;
		margin-bottom: 20px;
		margin-right: 0;
		width: auto;
	}
	
	#userlist li 
	{
		width: auto;
	}
	
	#content 
	{
		width: auto;
		float: none;
		clear: both;
	}
	
	.wishTable th.name, .wishTable th.description, .wishTable th.link 
	{
		width: auto;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px)
{
	#logo img
    {
    	width: 300px;
    }
	
	.page 
	{
		width: 400px;
		max-width: 400px;
		margin: 0 40px;
	}
}