@media screen and (max-width:1024px) 
{
	#logo img
	{
		width: 300px;
	}
	
	.page 
	{
		max-width: 95%;
		min-width: 300px;
		width: auto;
	}
	
	#header
	{
		height: auto;
	}
	
	div#userpanel 
	{
		clear: left;
		float: left;
		margin-bottom: 10px;
		position: inherit;
		top: auto;
		right: auto;
	}
	
	ul#menu 
	{
		float: left;
		clear: both;
		position: inherit;
		text-align: left;
		top: 0;
	}
	
	#userlist 
	{
		float: none;
		margin-bottom: 20px;
		margin-right: 0;
		width: auto;
	}
	
	#userlist li 
	{
		width: auto;
	}
	
	#content 
	{
		width: auto;
		float: none;
		clear: both;
	}
	
	.wishTable th.name, .wishTable th.description, .wishTable th.link 
	{
		width: auto;
	}
}

@media screen and (max-width:480px) 
{
	body 
	{
		background-color: Lime;
	}
	
	.page 
	{
		max-width: 100%;
		min-width: 250px;
		width: 100%;
	}
}