# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Continuous integration

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-api:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.102
    - name: Restore dependencies
      run: dotnet restore src/api
    - name: Build
      run: dotnet build --no-restore src/api
    #- name: Test
    #  run: dotnet test --no-build --verbosity normal
    # Build and test client scripts and css

  build-web:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install node
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
    - name: Install yarn packages
      run: yarn --cwd ./src/web
    - name: Build and check client scripts and css
      run: yarn --cwd ./src/web ci
